# OS junk files
[Tt]humbs.db
*.DS_Store

# Output Linux Installer
Installers/Linux/tmp_deb/
Installers/Linux/tmp_run/
*.run
*.deb

# Visual Studio files
*.pidb
*.userprefs
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.csproj.csdat
ipch/
obj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
.vs/
project.lock.json
artifacts/

# JetBrains Rider
.idea/

# Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

# Visual Studio Rebracer extension
rebracer.xml

# Subversion files
.svn

# Office Temp Files
~$*

# monodroid private beta
monodroid*.msi

# Unix temporary files
*~

# Output docs
Documentation/Output/

# Mac Package Files
*.pkg
*.mpack
**/packages

# NuGet Packages
**/*.nupkg

# Zip files
*.zip

# Installers
Installers/MacOS/Scripts/Framework/postinstall
IDE/MonoDevelop/MonoDevelop.MonoGame/templates/Common/MonoGame.Framework.dll.config

# MonoGame-specific files
# Ignore MonoGame Pipeline Cache
*.mgcb.cache
# Ignore compiled content files
*.xnb
# Ignore content build artifacts
Content/obj/
Content/bin/

# CAKE
.cake/**

# docfx
_*
